body { 
    background-color: #b59e7d; 
    font-family: Arial, sans-serif; 
    color: #68360a; 
    margin: 20px; 
}

h1 { 
    color: #8a471a; 
    text-align: center; 
}

h2 { 
    color: #682911; 
    text-align: center; 
}

p { 
    font-size: 18px; 
    text-align: left; 
    line-height: 1.5; 
}

.daftar-produk { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
    padding: 20px; 
}

.produk { 
    background-color: #af6c50; 
    border: 1px solid #000000; 
    padding: 15px; 
    border-radius: 10px; 
    text-align: center; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); 
}

.produk img { 
    width: 150px; 
    height: auto; 
    border-radius: 5px; 
    margin-bottom: 10px; 
}

.produk h2 { 
    font-size: 20px; 
    color: #c99357; 
}

.produk h3 { 
    font-size: 16px; 
    color: #ac7345; 
}

.harga { 
    font-weight: bold; 
    color: #e0a796; 
}

.deskripsi { 
    font-size: 14px; 
    color: #020202; 
}

.btn-kembali { 
    display: inline-block; 
    margin-top: 30px; 
    padding: 10px 16px; 
    background-color: #9b5025; 
    color: rgb(54, 25, 1); 
    text-decoration: none; 
    border-radius: 4px; 
}

.btn-kembali:hover { 
    background-color: #d8956f; 
}

.artikel { 
    max-width: 700px; 
    margin: auto; 
    padding: 20px; 
    background-color: #caa17a; 
    font-family: 'Georgia', serif; 
    line-height: 1.8; 
}

.artikel .penulis { 
    font-style: italic; 
    color: #4b2303; 
    margin-bottom: 20px; 
}

.artikel .sampul { 
    width: 180px; 
    float: right; 
    margin: 0 0 20px 20px; 
    border: 1px solid #ccc; 
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1); 
}

.artikel blockquote { 
    font-style: italic; 
    padding-left: 20px; 
    margin: 20px 0; 
    border-left: 4px solid #2e1501; 
    background-color: #c78f79; 
}

.formulir { 
    max-width: 600px; 
    margin: auto; 
    padding: 20px; 
    background-color: #ac7345; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
}

form label { 
    display: block; 
    margin-top: 10px; 
    font-weight: bold; 
}

form input, 
form select, 
form textarea { 
    width: 100%; 
    padding: 8px; 
    margin-top: 5px; 
    margin-bottom: 15px; 
    border-radius: 5px; 
    border: 1px solid #ccc; 
}

form button { 
    background-color: #3498db; 
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

form button:hover { 
    background-color: #2980b9; 
}